XMLRepUD4/Act2/Concesionario.dtd

<!ELEMENT Concesionario (coche*)>
<!ELEMENT coche (codigoDeCoche, marca, modelo, matricula, potencia, plazas, numeroDePuertas)>
<!ELEMENT codigoDeCoche (#PCDATA)>
<!ELEMENT marca (#PCDATA)>
<!ELEMENT modelo (#PCDATA)>
<!ELEMENT matricula (#PCDATA)>
<!ELEMENT potencia (#PCDATA)>
<!ELEMENT plazas (#PCDATA)>
<!ELEMENT numeroDePuertas (#PCDATA)>